<div class="p-2">
    <div class="tile is-ancestor p-0 m-0">
        <div class="tile is-10 p-0 m-0">
            <textarea class="textarea" placeholder="Hello!" [(ngModel)]="message" rows="2"></textarea>
        </div>
        <article class="tile is-child p-0 m-0">
            <button class="button is-fullwidth send_button" (click)="send_message()" [disabled]="auth_serivce.user === null">
                {{auth_serivce.user === null ? "Sign in to send" : "Send"}}
            </button>
        </article>
    </div>
</div>
